/* 导航栏悬浮窗去圆角 */
#nav .menus_items .menus_item .menus_item_child li:first-child {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

#nav .menus_items .menus_item .menus_item_child li:last-child {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

#nav .menus_items .menus_item .menus_item_child {
    border-radius: 0px;
}